:host {
    --theme: #db4d6f;
    --foreground: #ccc;
    --background: #3c3c3c;
    --foreground-outOfMonth: #808080;
    --background-outOfMonth: #222;
    --border-color: #222;
}
:host(.dark) {
    --theme: #ccc;
    --foreground: #ccc;
    --background: #3c3c3c;
    --foreground-outOfMonth: #808080;
    --background-outOfMonth: #222;
    --border-color: #222;
}
:host(.white) {
    --theme: #333;
    --foreground: #333;
    --background: #f2f2f2;
    --foreground-outOfMonth: #222;
    --background-outOfMonth: #ccc;
    --border-color: transparent;
}
:host {
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    background-color: var(--background);
}
:host(.show) {
    display: block;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
    height: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.year,
.month,
.next,
.prev {
    display: inline-block;
    width: 3rem;
    line-height: 3rem;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    color: var(--foreground);
}

.year {
    width: 7rem;
    outline: none;
    border: none;
    background-color: var(--background);
}
.month {
    width: 5rem;
}

.next,
.prev {
    width: 3rem;

    cursor: pointer;
    &:active:not([disabled]) {
        transform: scale(0.95);
    }

    &:hover {
        color: var(--theme);
    }
}

.weekdays,
.days {
    color: var(--foreground);
    display: grid;
    grid-template-columns: repeat(7, 3rem);
    text-align: right;
}

.weekdays {
    div {
        color: var(--theme);
        border-top: solid 1px var(--theme);
        border-bottom: solid 1px var(--theme);
        height: 2.4rem;
        line-height: 2.4rem;
        text-align: center;
        user-select: none;
    }
}

.days {
    height: auto;

    .day {
        position: relative;
        height: 3rem;
        line-height: 3rem;
        text-align: center;

        color: var(--foreground);
        border: solid 1px var(--border-color);
        user-select: none;

        &.outOfMonth {
            color: var(--foreground-outOfMonth);
            background-color: var(--background-outOfMonth);
        }

        &.selected,
        &:hover {
            font-weight: bold;
            outline: 3px solid var(--theme);
            outline-offset: -3px;
            cursor: pointer;
        }
    }
}
