:host {
    // --theme-color: #eee;
    --theme-color: #db4d6f;
    --foreground-color: #ccc;
    --background: #3c3c3c;
    --holiday-color: rgb(77, 157, 207);
    --border-color: #222;

    // --theme-color: var(--theme-color);
    // --foreground-color: var(--foreground-color);
    // --background: var(--active-background-color);
    // --holiday-color: rgb(77, 157, 207);
    // --border-color: var(--background-color);
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    background-color: var(--background);

    &.hidden {
        display: none;
    }
}
.header {
    height: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.year,
.month,
.next,
.prev {
    display: inline-block;
    width: 3rem;
    line-height: 3rem;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    color: var(--foreground-color);
}

.year {
    width: 7rem;
    outline: none;
    border: none;
    background-color: var(--background);
}
.month {
    width: 5rem;
}

.next,
.prev {
    width: 3rem;

    cursor: pointer;
    &:active:not([disabled]) {
        transform: scale(0.95);
    }

    &:hover {
        color: var(--theme-color);
    }
}

.weekdays,
.days {
    color: var(--foreground-color);
    display: grid;
    grid-template-columns: repeat(7, 3rem);
    text-align: right;
}

.weekdays {
    div {
        color: var(--theme-color);
        border-top: solid 1px var(--theme-color);
        border-bottom: solid 1px var(--theme-color);
        height: 2.4rem;
        line-height: 2.4rem;
        text-align: center;
        user-select: none;
    }
}

.days {
    height: auto;

    .day:nth-child(7n + 1),
    .day:nth-child(7n) {
        // color: var(--holiday-color);
    }

    .day {
        position: relative;
        height: 3rem;
        line-height: 3rem;
        text-align: center;

        color: var(--foreground-color);
        border: solid 1px var(--border-color);
        user-select: none;

        &.outOfMonth {
            color: gray;
            background-color: #111;
        }

        &.selected,
        &:hover {
            font-weight: bold;
            outline: 3px solid var(--theme-color);
            outline-offset: -3px;
            cursor: pointer;
        }
    }
}
